/* Aqui ira nuestro código css */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .container{
   background-color: #ccc;
   width: 90%;
   max-width: 1000px;
   margin: auto;

   /* flex*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 body{
   background-color: #e9e9e9;
 }

 header{
   background-color: #3d5772;
   width: 100%;
   padding: 20px;

   /*flex*/
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
 }

 header .logo figure img{
   width: 50px;
   vertical-align: top;
 }

 header .logo a{
   color: white;
   font-size: 30px;
   text-decoration: none;
   line-height: 50px;
 }

 head nav{
   width: 50%;

   /*flex*/
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }

 header nav a{
   background-color: #c0392b;
   color: white;
   text-align: center;
   text-decoration: none;
   padding: 10px;
   flex-grow: 1;
 }

 header nav a:hover, footer .links a:hover{
   background-color: #e74c3c;
 }
 
 .sections{
   background-color: white;
   padding: 20px;
   /*flex*/
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 70%;
 }

.sections article{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.sections article:nth-last-child(1){
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

 /*main{
   background-color: #fff;
 }*/

 aside{
  background-color: #e67e22;
  padding: 20px;
  /*flex*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 30%;
}

 aside .widget {
   background-color: #d35400;
   height: 150px;
   margin: 10px;
 }

 footer{
   background-color: #3d5772;
   width: 100%;
   padding: 20px;

   /*flex*/
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
  
 footer .links{
   background-color: #c0392b;
   display: flex;
   flex-wrap: wrap;
 }

 footer .links a{
   flex-grow: 1;
   padding: 10px;
   color: white;
   text-align: center;
   text-decoration: none;
 }

 /*footer .links a:hover{
  background-color: #e74c3c;
 } los uní directamente en el hover de arriba*/

 footer .social{
   background-color: #e67e22;
   text-align: center;
 }

 footer .social a{
   color: white;
   text-decoration: none;
   padding: 10px;
   display: inline-block;
 }
 

 footer .social a:hover{
   background-color: #f09a4e;
 }